<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="login.css">
    <title>Pattern Atlas Login</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Welcome to Pattern Atlas</h1>
        <h4>Please create your account</h4>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
<!--        <form class="login-form" th:action="@{/login}" method="post">-->
<!--            <input type="text" name="username" placeholder="Username"/>-->
<!--            <input type="password" name="password" placeholder="Password"/>-->
<!--            &lt;!&ndash;             <input type="submit" value="Login"/>&ndash;&gt;-->
<!--            <button type="submit">Login</button>-->
<!--            <p class="message">Not registered? <a href="#">Create an account</a></p>-->
<!--        </form>-->
        <form th:action="@{/create}" method="post">
            <input type="text" name="name" placeholder="name"/>
            <input type="email" name="email" placeholder="email address"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">create</button>
            <p class="message">Already registered? <a href="login">Sign In</a></p>
        </form>
    </div>
</div>
</body>
</html>